language: scala

jdk:
  - openjdk8
  - openjdk11

before_install:
  - wget http://apache.mirror.gtcomm.net/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz
  - tar xzvf apache-maven-3.6.3-bin.tar.gz
  - export PATH=`pwd`/apache-maven-3.6.3/bin:$PATH

install:
  mvn --settings .maven.xml clean test -B -V

cache:
  directories:
  - ~/.m2/repository
